; Use public npm registry by default
registry=https://registry.npmjs.org/
 
; Use Azure DevOps registry for @quark-layout scoped packages
@quark-layout:registry=https://qrk.pkgs.visualstudio.com/_packaging/quarklayout/npm/registry/
always-auth=true
 
; begin auth token for @quark-layout packages
//qrk.pkgs.visualstudio.com/_packaging/quarklayout/npm/registry/:username=qrk
//qrk.pkgs.visualstudio.com/_packaging/quarklayout/npm/registry/:_password=Rm5rTkZ2TkZ1Wnk4ZU01ZXVPQWdwVVdOWmhYWktaUGprRjhvN2c3UGdMeENyU244aXFUOUpRUUo5OUNBQUNBQUFBQWNtRWlkQUFBU0FaRE8zRUVq
//qrk.pkgs.visualstudio.com/_packaging/quarklayout/npm/registry/:email=npm requires email to be set but doesn't use the value
//qrk.pkgs.visualstudio.com/_packaging/quarklayout/npm/:username=qrk
//qrk.pkgs.visualstudio.com/_packaging/quarklayout/npm/:_password=Rm5rTkZ2TkZ1Wnk4ZU01ZXVPQWdwVVdOWmhYWktaUGprRjhvN2c3UGdMeENyU244aXFUOUpRUUo5OUNBQUNBQUFBQWNtRWlkQUFBU0FaRE8zRUVq
//qrk.pkgs.visualstudio.com/_packaging/quarklayout/npm/:email=npm requires email to be set but doesn't use the value
; end auth token